* {
	font-family: "Hack", "Source Code Pro",  sans-serif;
}

/* Hide the title in the sidebar */
.sidebar > div.composite.title > div.title-label {
	display: none;
}

/* Rearrange icons on top of sidebar */
.sidebar > div.composite.title {
	height: 22px;
}

div.composite.title > div.title-actions > div > div > ul > li {
	margin-top: -10px;
}

/* Remove close button from tabs */
.tabs-container .tab-actions {
    display: none;
}

/* Border radius on tabs */
.tabs-container .tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.overflow-guard > div.scroll-decoration {
    display: none;
}

/* Hide placeholder text in quick input box */
.quick-input-box input::placeholder {
    color: transparent;
}

/* Add padding to the right of the tab labels */
.tabs-container > .tab > .tab-label > div {
    padding-right: 10px;
}

/* Hide the watermark on start screen */
div.shortcuts > div.watermark-box, div.editor-group-watermark > div.letterpress {
	display: none !important;
}


/* Scrollbarss */
div.monaco-tl-indent > div {
	border-left: none !important;
}

.editor-scrollable.vs > canvas
{
	display: none !important;
}

div.scrollbar > div.slider {
    opacity: 0 !important;
	transition: all 0.4s ease;
    width: 8px !important;
}

div.scrollbar > div.slider:hover {
    opacity: 1 !important;
	transition: all 0.4s ease;
    width: 8px !important;
}

#workbench\.parts\.sidebar {
    height: 100% !important;
}